[2013-11-27 16:09] endolith opened #3 "Retry on timeout"
This works for the most part, but I have it set to log the temperature every few minutes, and it occasionally returns an error:

usb.core.USBError: [Errno 110] Operation timed out

Would it make sense to catch this and retry a few times automatically?

[2013-12-18 18:17] daudo opened #6 ""usb.USBError: Connection timed out" and "usb.USBError: could not detach kernel driver from interface 1: No data available""
After 4 or 5 successful reads, temper-poll dies like below:

[code]

any subsequent invocations then end like this

[code]

Unplugging the dongle and or reloading the kernel modules did not solve the problem.

This happens on an up2date debian wheezy installation with this sensor:

[code]

[2014-01-06 07:55] tfoote opened #8 "Unable to read port and bus number"
I'm running this on a Ubuntu Precise machine and am getting tracebacks on reading the port and bus number.

sudo temper-poll -p

[code]

[code]

The dirname is an empty string in both cases. The second error was found by simply suppressing the first error.

My virtualenv has the following:

[code]

[2014-02-04 17:29] mkratky opened #10 "No module named temper.cli"
Hi, I'm trying to use temper-python on following Raspberry Pi system:
Linux raspberrypi 3.10.25+ #622 PREEMPT Fri Jan 3 18:41:00 GMT 2014 armv6l GNU/Linux

I executed the setup instructions successfully but I'm getting following error when trying to run the temper-poll program.

Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temper

[2014-02-05 09:57] #10 closed, assigned to nobody

[2014-03-31 15:53] metonymy opened #11 "failing to run on Centos"
Hello. I can't find usb-python for Centos, but tried pyusb and pyserial. I installed them and then installed temper-python. Also, I can confirm via dmesg that I'm using the new version of the hardware and it's 1.4.

There were no error messages during install but trying to run generates this:

Traceback (most recent call last):
  File "/usr/bin/temper-poll", line 9, in <module>
    load_entry_poin

[2014-05-19 14:27] #6 closed, assigned to nobody

[2014-05-19 14:28] #3 closed, assigned to nobody

[2014-05-19 14:29] #11 closed, assigned to nobody

[2014-05-19 14:29] #8 closed, assigned to nobody

[2014-05-27 15:52] skachm opened #14 "USB ID parsing"
Old versions of temper-poll supported USB hubs chained together, but I tried the newest version today and it does not. Here is the error output:

Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==1.2.0', 'console_scripts', 'temper-poll')()
  File "/usr/local/lib/python2.7/dist-packages/temperusb-1.2.0-py2.7.egg/temperusb/cl

[2014-06-10 09:20] #14 closed, assigned to nobody

[2014-06-11 17:40] matrix200 opened #16 "Trying to run on Centos 6.4 gives the following error"
Found 1 devices
Traceback (most recent call last):
  File "/usr/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==1.2.1', 'console_scripts', 'temper-poll')()
  File "/usr/lib/python2.6/site-packages/temperusb-1.2.1-py2.6.egg/temperusb/cli                  .py", line 33, in main
    'temperature_c': dev.get_temperature(),
  File "/usr/lib/python2.6/site-packages/temperusb-1.2.1

[2014-06-18 13:11] #16 closed, assigned to nobody

[2014-06-19 21:22] skachm opened #17 "Sensors stop responding"
Running the latest version of temper-poll with 11 sensors attached on Ubuntu 12.04 LTS. The reset that was added a few versions ago fixed the problem of sensors not reporting, but now after many calls of temper-poll (50-100 calls, 1 call per minute) the sensors will stop responding. No error message, it just hangs on:

**_@___**_:~$ sudo temper-poll
[sudo] password for ___:
Found 11 devices

And n

[2014-06-22 19:56] #17 closed, assigned to nobody

[2014-09-18 07:27] heig opened #19 "Temper Device with two sensors"
Dear all,

I just bought a Temper-Device with two sensors, one internal and a external (http://www.ebay.de/itm/161240479265?_trksid=p2060778.m2749.l2649&ssPageName=STRK%3AMEBIDX%3AIT)

It is recognized by the system (Bus 001 Device 004: ID 0c45:7401 Microdia) and i can also pull the temperature, but only from one sensor, the internal.

Is it possible to pull the temperature of both sensors?

Thank

[2014-10-03 15:39] eribertomota opened #20 "Can it work with 1130:660C?"
Hi!

I am testing the software with a 1130:660C model (ID 1130:660c Tenx Technology, Inc. Foot Pedal/Thermometer / USB HID v1.10 Device [ PCsensor Temper]). However, I get "Found 0 devices". There is how to add support to my thermometer?

Thanks!

Eriberto

http://www.dx.com/p/usb-powered-c-f-thermometer-40-120-c-48285

[2014-11-05 12:47] YoungJules opened #21 "temper.py complains about unexpected parameter 'interface'"
In /usr/local/lib/python2.7/dist-packages/temperusb-1.2.1-py2.7.egg/temperusb/temper.py
I commented out the data = self._device.read call and replaced it with a call that does not include the interface param...

[code]
    def _interrupt_read(self):
        """
        Read data from device.
        """
        #data = self._device.read(ENDPOINT, REQ_INT_LEN, interface=INTERFACE, timeout=TIMEOUT)

[2014-11-05 12:50] YoungJules opened #22 "temper-poll crashes with broken pipe now and then"
No handlers could be found for logger "temperusb.temper"
Found 1 devices
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==1.2.1', 'console_scripts', 'temper-poll')()
  File "/usr/local/lib/python2.7/dist-packages/temperusb-1.2.1-py2.7.egg/temperusb/cli.py", line 50, in main
    'temperature_c': dev.get_temperature(),
  Fil

[2014-11-10 21:09] #21 closed, assigned to nobody

[2014-11-12 07:09] amorphic opened #24 "Regression: Operation timed out"
In my [recent PR](https://github.com/padelt/temper-python/pull/23) I updated temperusb for compatibility with the recently-released [pyusb 1.0.0b2](https://github.com/walac/pyusb/releases/tag/1.0.0b2). This PR was merged and released as part of temperusb 1.2.2.

However after using temperusb 1.2.2 for extended periods I'm noticing occurances of the dreaded: `usb.core.USBError: [Errno 110] Operatio

[2014-11-12 16:17] YoungJules opened #25 "AttributeError after broken pipe fail"
Calls to get_temperature() continually fail after a broken pipe has occurred, even if the objects are recreated.  Added an except clause to temper.py to catch AttributeError and just debug log it.
Have a modified version of temper.py here... do I need to make a pull request?

[2014-11-12 22:36] #24 closed, assigned to nobody

[2014-11-12 22:38] #25 closed, assigned to nobody

[2015-02-13 22:25] DiegoBAELDE opened #26 "Calibration has type conflict on single-number ports"
Hi Joji,

Thank you for implementing the calibration code, as my TEMPer is WAY off.

I'm forwarding my TEMPer to a VM.  There, I have a ports 'string' that contains only one number, so in my calibration file, I'm using: 1-1: scale = 1.0, offset = 10.0 (just to try).  But it just didn't seem to do anything.

By adding some debugging code, I found out that ports was a string (as it comes from the re

[2015-03-02 13:40] Merric2015 opened #27 "/etc/temper.conf scale and offset values not loading"
Hi,

First off, I really like the work you have done on this project & it has made using USB temperature devices so much easier.  I actually did some research before hand and specifically looked for a device I could use with your code.  Everything worked fine for me (following your instructions) apart from setting the scale and offset values so I thought I would highlight the issue I encountered &

[2015-03-03 03:23] patricklauer opened #28 "temperusb fails with newer pyusb"
pyusb-1.0.0_beta2 causes a failure on startup:

[code]
which seems to be fixed by removing the interface argument:
[code]

[2015-03-03 10:42] amorphic commented on #28
There were other problems related to pyusb 1.0.0b2 as per #24. In the end we fixed the version to 1.0.0b1 because there didn't seem to be a workaround.

[2015-03-16 16:26] surreydude opened #29 "Unchanged reading on temper-poll"
Hi

Thanks for creating this library - I've installed it with one of my RDing Temper USB devices on a Raspberry Pi. All seems OK except that, on polling for the temperature every minute for the past 48 hours, I have noticed that my reading is a constant 16.5C

I have checked with another device and I have also used these devices on Win7 an they show variation. Are there any diagnostics I can turn

[2015-03-17 11:15] padelt commented on #29
Hi surreydude, I am not aware of any known issue that causes this - but in the distant past this was a behaviour I have seen myself. I could never reproduce it.
You could look for error messages. And obviously look for when the problem "goes away". Re-plug USB connection? Restart Pi? Or is it even "permanent"?

I find this very worrying because it makes the reading basically unreliable.

Sorry tha

[2015-03-17 11:20] amorphic commented on #29
Are you using the cli app or are you using the library as part of your own application?

If it's the latter you can turn on logging and you might better see what's going on. Something like:

[code]

[2015-03-17 11:38] surreydude commented on #29
padelt: I'm still getting
<code>usb 1-1.2: usbfs: process 2295 (temper-poll) did not claim interface 0 before use</code>
messages in the log even though I have added a boot parameter for the <code>usbhid.quirks</code> as advised in the readme.

I've tried to compare two devices; dipped them in boiled water and can see the temperature reading rise (although I am unsure how accurate this is) and the

[2015-03-17 11:43] surreydude commented on #29
Here's a snippet of the readings (you can see when the sensor was introduced to the water at 11:25):

<code>21,16.5,2015-03-17 11:21:01 </code>
<code>22,16.5,2015-03-17 11:22:01 </code>
<code>23,16.5,2015-03-17 11:23:01 </code>
<code>24,16.5,2015-03-17 11:24:01 </code>
<code>25,83.6,2015-03-17 11:25:01 </code>
<code>26,59.2,2015-03-17 11:26:01 </code>
<code>27,44.8,2015-03-17 11:27:01 </code>
<cod

[2015-03-17 11:45] surreydude commented on #29
amorphic: I'm using the library calling temper-poll from a ksh script. Should I put that code in <code>temper.py</code>?

[2015-06-03 06:19] pziarsolo opened #31 "syslog full of usbfs logs"
Hi,
I have been using temper-poll for a while. I have checked my logs and I realized that I have tree lines on it for each temper-poll call:

[4218339.022465] usb 5-1: usbfs: process 27266 (temper-poll) did not claim interface 0 before use
[4218339.026481] usb 5-1: usbfs: process 27266 (temper-poll) did not claim interface 1 before use
[4218339.324370] usb 5-1: reset low-speed USB device number 2

[2015-06-15 11:10] ps-jay commented on #31
Are you using CentOS, or RHEL?

[2015-06-15 12:04] pziarsolo commented on #31
Nop, I am using debian 8

[2015-06-15 12:06] ps-jay commented on #19
My early testing indicates that we can get the external sensor by altering the data_s array references on this line https://github.com/padelt/temper-python/blob/master/temperusb/temper.py#L172 from: ```data_s[2:4]``` to ```data[4:6]```.

I'll play more, and see if I can open a pull request for the functionality.

[2015-06-15 12:14] ps-jay opened #32 "Conversion from bytes steam to temp_c"
I wonder if we are over complicating the conversion from byte to str to temperature.

It looks like the first byte ```data[2]``` is the integer part of the degree, and the second byte ```data[3]``` is the fractional part of the degree - by dividing the value by 256.

In the [example spreadsheet](https://docs.google.com/spreadsheets/d/13pr1AK4CbSLBmcVBdw6WMunYdmL6VmFfINaOruiYeWM/edit?usp=sharing) y

[2015-06-15 12:18] ps-jay commented on #19
Quick update:
External sensor plugged in: data = [128, 4, 27, 112, **20, 112,** 46, 51]
Unplugged the external sensor: data = [128, 4, 27, 112, **255, 255,** 46, 51]

This makes me more confident ```data[4:6]``` is the external reading.

[2015-06-15 12:41] ps-jay commented on #31
I've experimented with a few lines, in particular doing some ```usb.util.claim_interface()``` calls and commenting out ```self._device.reset()```.

I'll clean it up and open a PR

[2015-06-17 05:17] heig commented on #19
Hi ps-jay, thank you very much for this change :) I will try it out immediatly. I just added the second sensor to my device to test ;)

[2015-07-27 14:43] WeWin55 opened #36 "Devices not identified"
Hello,
the Temper-Python program doesnt find my devices right.
I think the temper.conf file is ignored.

/etc/temper.conf:

1-1.2.4: scale = 2, offset = 5
1-1.5.4: scale = 2, offset = 10

The output of lsusb -t is:

1-1.5.4:1.1: No such file or directory
1-1.2.4:1.1: No such file or directory
/:  Bus 01.Port 1: Dev 1, Class=root_hub, Driver=dwc_otg/1p, 480M
    |__ Port 1: Dev 2, If 0, Class=hub,

[2015-07-27 15:36] #36 closed

[2015-08-25 15:33] claenjoy commented on #10
@mkratky,  this works for me thanks on Wheezy 7.8

[2015-11-09 04:35] jefonseca commented on #31
maybe this could help
http://www.rsyslog.com/discarding-unwanted-messages/

I created a file in /etc/rsyslog.d/disabled.conf with this content:

:msg, contains, "input device has been disconnected" ~
:msg, contains, "TEMPerV1.4" ~
:msg, contains, "temper-poll" ~
:msg, contains, "reset low-speed USB device number 3 using ehci-pci" ~

[2015-11-09 08:56] pziarsolo commented on #31
@jefonseca . Thanks for the tip. It is very useful, now I can read syslog logs easily again :)

[2015-11-30 12:33] jcrick69 opened #37 "Setup.py is not found"
Hi

I installed the package with
sudo apt-get install python-usb

If I try sudo python setup.py install

I get the error: can't open setup.py: [Errno 2] No such file or directory

I have confirmed the package is installed.

Note I am using a Raspberry Pi 2

Any help greatly appreciated.

Thanks, Jerry

[2015-12-02 17:26] foundbobby opened #38 "Device compatibility question"
Is this tool usable with models TEMPerNTC: http://www.pcsensor.com/usb-thermometer/temperntc.html
or TEMPerHUM: http://www.pcsensor.com/usb-hygrometer/temperhum.html or TEMPer1F_H1: http://www.pcsensor.com/usb-hygrometer/temper1f_h1.html ?

[2015-12-02 18:34] foundbobby commented on #38
Per https://github.com/ps-jay/temper-python/commit/b77295215af172519bd237e26d501ba9679ca414, looks like it - get_temperature(sensor="all").

Thank you!!

[2015-12-02 18:34] #38 closed

[2015-12-02 21:21] amorphic commented on #37
Jerry,

To install the package from source you need to first clone it from github like this:
[code]
An even easier way is to use pip to download and install the package from [PyPI](https://pypi.python.org/) (the Python Package Index):
[code]
Cheers,
James

[2015-12-06 08:58] jcrick69 commented on #37
Hi James

Thanks for he help but,

neither of these methods work.

The first,in the clone step, gives an error saying the remote hung up
unexpectedly.

The second, in the apt-get, says unable to locate package pip

Any ideas gratefully accepted...

Thanks, Jerry

On Wed, Dec 2, 2015 at 9:21 PM, James Stewart <notifications@github.com>
wrote:

--
Jerry Crick

<http://uk.linkedin.com/pub/jerry-crick

[2015-12-06 10:01] padelt commented on #37
Hi Jerry,
git clone likely fails because you do not have SSH keys set up with Github. You don't need to though.
Look at the github page and copy the https-URL for cloning the repo.
git@... will be replaced by https://...
Can't look it up exactly right now.

That should most likely be

Hope it gets you going...

Philipp

Vom padelt gesendet

[2015-12-17 12:12] ps-jay commented on #19
Yeah - that make sense - that print statement isn't expecting a list of temperatures.

Lets see if we can get some action on this project over the next few weeks.

@foundbobby has committed some code to select from the cli command switches - we could extend that to support "all", and fix the print statement.

[2015-12-17 18:08] foundbobby commented on #19
I originally had it accept all, but saw the error too and removed it. I can add it back if you'd like

[2015-12-21 13:34] padelt commented on #37
Jerry, I also just noticed that you tried
[code]
(note the `python-usb`-package)

This repository is about a package called `temperusb` (on PyPI, which is the Python Packag Index that `setuptools` and `pip` use). It has little to do with `python-usb`.

I'll close this issue - feel free to comment and reopen.

Philipp

[2015-12-21 13:34] #37 closed

[2015-12-21 15:14] padelt commented on #22
@YoungJules Sorry for leaving that open for at least a year. I do not see any obvious reason for that error? Can you reproduce it somehow?
I suspect that the problem is gone by now and will close this issue.
Please just reopen it if the problem is still demonstrable!

[2015-12-21 15:14] #22 closed

[2015-12-21 17:27] padelt commented on #29
@surreydude The readouts on my sensors have noise on the order of 0.1°C and changes when touching it start to appear within 1-2 seconds. The error message you see (`did not claim interface 0 before use`) should be gone thanks to changes by @ps-jay - but those are not yet in my repo.

Could you please checkout the branch `ps-jay-reduce-kernel-syslogs` and try again? I listed a convenient way to tes

[2015-12-22 08:25] padelt commented on #29
I searched some more last night and came across http://www.thermohid.co.uk/ as well as some Amazon reviews (google for USB temper stickiness to find them). The effect of temperature readouts not changing for some time seems to be a hardware issue that other software has experienced as well.
Insofar we will not find a software solution.
Regarding the dmesg/syslog messages, please recheck with the (

[2015-12-22 08:25] #29 closed

[2015-12-22 11:36] padelt commented on #31
Please retry with the current master branch. It should get rid of the messages. If not, feel free to reopen the issue!

[2015-12-22 11:36] #31 closed

[2015-12-22 12:11] padelt commented on #32
Yes there can be negative values and the current code expects it: `unpack('>h', data[2:4])` means we interpret two bytes as big-endian signed short. I need to check how the values look for temperatures <0°C. Your version is certainly equivalent for temperatures >=0°C. For negative temperatures, only one version can correct. Consider the data `0xFF 0xFB`:
[code]
The first version is what you sugges

[2015-12-22 14:11] padelt commented on #28
So I just tried that again. Checked out master branch, essentially applied this patch:
[code]
Then (in a virtualenv) let `setup.py install` run and then
[code]
That yielded 6, 8 and 8 USBErrors for 30 runs over 3 tries.
[code]
Using `pyusb 1.0.0b1` (as it is in master now) yielded 7,8 and 7 USBErrors. So after all, no real difference.

Fun fact: Using `pyusb 1.0.0b1` I get `libusb1`:
[code]
Using

[2015-12-22 14:11] #28 closed

[2015-12-22 16:43] padelt commented on #26
Hi Diego,
Although I am not sure how exactly your situation comes together, I implemented the fix as you suggested. It is in the master branch and not yet on PyPI. Once any version >=1.2.5 of this package hits PyPI, it will have your patch.

Thank you for your help!

Philipp

[2015-12-22 16:43] #26 closed

[2015-12-23 02:28] ps-jay commented on #19
I've update PR #34 ...  works for me.
@heig & @foundbobby - have a look.

[2015-12-25 23:31] padelt commented on #32
OK I did measure it with one internal and one external sensor type (different USB devices - each with one sensor). I cooled them down using Kontakt Chemie Kälte 75 spray. I'll show the 3rd and 4th byte along with the current temper-python output.
Device 1.2 (cooling down):
[code]
The readouts "made sense" as in "they did not jump around" but were somewhat continuous - keeping in mind the rather co

[2015-12-25 23:31] #32 closed

[2016-01-05 14:48] ps-jay commented on #19
Updated PR #34 again.
Please test.

[2016-01-05 19:44] padelt commented on #19
Just checked #34. Works perfectly with my two sensors: two devices with one sensor each. Thanks to everyone for making an even better solution! Please check if attribution in README.md is correct (what about @foundbobby ?) and send a pull request if not!
P.S.: This was joint work from California/USA, Germany and Australia, right? Nice! :)

[2016-01-05 19:44] #19 closed

[2016-01-05 19:57] padelt opened #41 "Upload PyPI package version 1.3.1"
@amorphic Could you please upload the new version 1.3.1 to PyPI?

[2016-01-07 06:07] amorphic commented on #41
Hi Philipp!

I built and uploaded `1.3.1` as requested but when I install it to a new 2.7.6 virtualenv the `pyusb>=10.0.rc1` dependency causes problems:

[code]

Have you tried that latest code with one of these versions of pyusb? Perhaps we need to release a `1.3.2` with the `pyusb` pinned to whichever of these alpha/beta versions is known to be working?

[2016-01-07 10:43] padelt commented on #41
That's the problem: None of these are working. rc1 is the first one that does.
When I `python setup.py install` it like this, it works:
[code]
When using `pip install temperusb`, I also get the problem:
[code]
This is with `pip` version 1.5.4 and `pyusb` can "only" be fulfulled using the git+https-Link in the `setup.py`. It is not yet on PyPI. Is that the problem maybe!?
How can we force pip to ho

[2016-01-07 11:04] ps-jay commented on #41
We probably should write to the pyusb maintainers, and ask them to make a release on PyPi...

[2016-01-07 11:25] padelt commented on #41
Yes I think that is a good idea. I'll open an issue over at https://github.com/walac/pyusb/issues asking for an rc1-release.

[2016-01-07 13:15] padelt commented on #41
So the answer is in: He tries to release it ASAP, but I think we should not hold our breath. Maybe someone can come up with another way to get rc1 working when temperusb is installed from PyPI. Any ideas?

[2016-01-17 20:27] willfurnass opened #45 "Python 3.x support?"
A few things that need to be handled differently in Python 3.x:

 - `temper.py` features `long` hex literals like `0x0c45L`.  Python 3 does not have `long`s (not needed as `int`s are arbitrary precision).
 - do `COMMANDS` need to be byte strings?
 - the part of `TemperDevice.get_temperature` that interprets device responses may need to change
 - `range`s are generator expressions so in some cases

[2016-01-19 08:34] willfurnass commented on #45
See PR #46

[2016-01-20 09:21] padelt commented on #45
Thanks @willfurnass for the work. I added some metadata to `setup.py` and bumped the PyPI version to indicate the new Python 3 support. Remember to please send a PR for the contributor line in `README.md` if you want.

[2016-01-20 09:21] #45 closed

[2016-02-15 14:10] surreydude commented on #27
I've just installed the latest versio and notice this workaround has been incorporated into the release code, however, my calibration data in /etc/temper.conf is still being ignored :(

[2016-02-15 14:12] surreydude opened #48 "Raspbian compatible?"
Hi
I'm using this library for reading USB TEMPer devices plugged into Raspberry Pi (vB1 & 2). Has it been tested on Raspbian? It works but I get some errors using `temper-poll -p`

[2016-02-15 14:15] padelt commented on #48
Works perfectly. In fact, it is the system I am using them on. Now on a 2B, before on a stock Raspi 1.
If you still get the errors, please reopen and include the actual output.
It is also interesting to know how you installed temper-python to know the version.

[2016-02-15 14:15] #48 closed

[2016-02-15 15:33] Braklet opened #49 "temper-poll works once, then times out on subsequent calls"
The Python poll application works, but only one time.  On subsequent calls, the device is detected but I get a handler error and the poll times out.

[code]

I can repeat this forever by removing then reinserting my USB sensor.

Not sure where to start breaking this down... can you help?
(Installed in Ubuntu 14.04 x86-64 system, kernel 3.13.0-77-generic.

Thanks!

[2016-02-15 15:52] surreydude commented on #48
I downloaded v1.4.0

On my Piv2 running `temper-poll -p` yields:

`Found 1 devices
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==1.4.0', 'console_scripts', 'temper-poll')()
  File "build/bdist.linux-armv7l/egg/temperusb/cli.py", line 66, in main
KeyError: 'bus'
`

[2016-02-15 16:01] padelt commented on #49
Not sure what causes this and not sure if we can do anything against it. My gut feeling is that your temper device is slightly different from mine. Could you show us the output of `dmesg`, `lsusb`, `python -c "import usb;print usb.__version__"` and the part of `lsusb -v` that describes the temper device? Maybe that shines some light on the root cause.

There is also a pull request (still open) tha

[2016-02-15 16:16] Braklet commented on #49
Thanks for the reply.  I expected to have to play with this thing...

DMESG:
[code]
LSUSB:
[code]
LSUSB -v:
[code]
Python library version:
[code]
I'll take a look at the forked library, too.  Thanks for the tips!

[2016-02-15 16:21] padelt commented on #48
I can confirm this. The cause was an oversight of the last refactoring round. I just fixed the issue. Please try
[code]
from your existing `temper-python`-directory. `git` should pull one new change.
Please reopen this issue if it does not fix your problem!

[2016-02-15 16:23] padelt commented on #49
Chances are you are seeing the exact same problem and that @rogues changes will help. IF they do: Please tell me where you bought the device. I would like to have one too so I can properly test and incorporate @rogues changes!

[2016-02-15 16:26] surreydude commented on #48
Fixed - thanks!

[2016-02-15 16:27] Braklet commented on #49
Well I'll be... looks like @roques problem was indeed same as mine:

[code]
Got some weird-ish behavior when I went back and installed @roques version on top of the original:
[code]
But it seems to be working after multiple calls.

Am I unique in getting the 'Â' character in my output?  Haven't seen that in anybody else's after some minor Googling.

Thanks again for your driver and all your help.

[2016-02-15 16:30] Braklet commented on #49
Ah, just caught your second comment.  I purchased this one at Amazon:

http://www.amazon.com/gp/product/B009YRP906

I'm guessing my v1.4 is a key?

[2016-02-15 16:31] surreydude commented on #49
The 'Â' is due to your putty/ssh encoding; try setting it to UTF-8

[2016-02-15 16:36] Braklet commented on #49
@surreydude, that was it exactly.  Changed remote character set from ISO-8859-1 to UTF-8 eliminated the additional output.  Thanks!

[2016-02-15 16:41] surreydude commented on #49
You're welcome. There's something I know the answer to - yay!

[2016-02-15 16:45] padelt commented on #49
Thanks for the pointer to Amazon. Unfortunately, it is not delivered to Germany... :-/
But I did find one on amazon.de that has a mentioning of 1.4 in the comments, so I just ordered that.
Hopefully, the one delivered will actually show the same behaviour so we can finally merge these changes.

`temper-usb` prints UTF-8 and your terminal seems to interpret that as something different. You can see

[2016-02-15 16:49] Braklet commented on #49
Thanks again for the help.  I am interested in buying more of these things for various projects, so will keep an eye on your progress.

[2016-02-15 16:49] #49 closed

[2016-02-15 19:25] roques commented on #49
Just to confirm what you already discovered: This looks *exactly* like the problems I encountered. After one successful poll with the unpatched ``temper-poll`` the TEMPer gets stuck and future polls time out until the TEMPer is reset (or un- and re-plugged). I guess that the timeout after installing my branch into ``/usr/local`` was caused by you executing the unpatched ``temper-poll`` once and th

[2016-02-15 19:35] Braklet commented on #49
In any case, thanks for the patch.  Worked great on my v1.4 TEMPer.
I need to play around with this infrastructure a little more, but I'll probably buy a few more TEMPers once I get this working as I'd like.
Braklet

    On Monday, February 15, 2016 2:25 PM, Christian von Roques <notifications@github.com> wrote:

 Just to confirm what you already discovered: This looks exactly like the problems I

[2016-02-17 21:30] padelt commented on #49
Hmm, just got the sensor bought from Amazon under ASIN B009RETJIO from seller "zjchao". "Unfortunately" it works fine and it is not riddled with the v1.4 problem. It identifies as TEMPer1F_V1.3. Sending it back right now and ordering another one...

[2016-02-22 11:10] surreydude opened #50 "git pull failing for pyusb dependency"
Hi

Following the my issue last week and your update, I have updated one of my other Pi installations using:

`git pull`

then

`python setup.py install`

and I'm getting a problem with the pyusb dependency:

`
Installing temper-poll script to /usr/local/bin
Installing temper-snmp script to /usr/local/bin

Installed /usr/local/lib/python2.7/dist-packages/temperusb-1.4.1-py2.7.egg
Processing depend

[2016-02-22 11:45] ps-jay commented on #50
Pretty sure that's the work around for using the pre-release pyusb.

What version of git do you have installed?
What version of pip?

- Phil

On Monday, 22 February 2016, surreydude <notifications@github.com> wrote:

[2016-02-22 11:48] padelt commented on #50
Some googling indicates that a newer version of setuptools is needed.
Would versions are you running? Here are mine (that work):
[code]
Somthing like
[code]
may be needed.

-- Philipp

[2016-02-22 12:25] surreydude commented on #50
[code]

[2016-02-22 12:29] ps-jay commented on #50
To upgrade: pip install -U <package>

On Monday, 22 February 2016, surreydude <notifications@github.com> wrote:

[2016-02-22 12:31] surreydude commented on #50
@ps-jay

Thanks, that helped, I now get:

`setuptools 20.1.1 from /usr/local/lib/python2.7/dist-packages (Python 2.7)`

but now `sudo python setup.py install` is returning:

Traceback (most recent call last):
  File "setup.py", line 1, in <module>
    from setuptools import setup
ImportError: No module named setuptools

[2016-02-22 16:35] surreydude commented on #50
I've obviously got a roasted python installation - I've just nuked it and am reinstalling Raspbian jesse with python 2.7.9

[2016-02-22 16:35] #50 closed

[2016-03-23 16:28] pmackinney commented on #49
For the device database: My device is labeled TEMPer1 -40oC ~ +120oC
From lsusb: Bus 003 Device 011: ID 0c45:7401 Microdia TEMPer Temperature Sensor

On Ubuntu 14.04, I was running temperpoll 1.2.3 without error.

Upgraded to Ubuntu 16.04, installed temperpoll 1.4.1 from Git Hub, had to download and install pyusb-1.0.0rc1 to satisfy dependencies. Immediately encountered the run once issue. Roques'

[2016-03-27 16:38] josvos commented on #49
@padelt: I ordered my device (TEMPerV1.4) from [DX.com](http://www.dx.com/), for around 7 euro incl. shipping I got it in the Netherlands (shipping may take a few weeks though...), so you can get it in Germany too I guess: [DX product page](http://www.dx.com/p/temper-usb-thermometer-temperature-recorder-for-pc-laptop-81105)

I had the same errors and I tries @roques version and that now works for

[2016-04-13 12:20] ps-jay opened #51 "Tags not on github"
Hi Philipp,

the tags seem to have disappeared from the Github repo...

[2016-04-13 13:50] ps-jay opened #52 "Import not working"
Hi all,

since this change: https://github.com/padelt/temper-python/commit/59912734bea136a766d1d30e3c080ae220598b16, altered: ```from temperusb.temper import TemperHandler```, to: ```from .temper import TemperHandler```

I cannot run ```cli.py``` directly:

[code]

Reverting that import to the original seems to have no functional impact in the ```python setup.py install && temper-poll``` type scen

[2016-04-14 09:53] willfurnass commented on #52
Python 3 support.  If the `.` suffix is removed from `temper` then running `temper-poll` after installing `temper-python` using Python 3 + pip will cause problems. `cli.py` (exposed as `temper-poll` when installed with pip) will look for `TemperHandler` under the absolute path `temper` yet there is no installed package called `temper`; `cli.py` instead needs to look for `TemperHandler` under the r

[2016-04-15 10:36] ps-jay commented on #52
I'm not sure about strong interest - but I like it ; )

[2016-04-15 12:29] ps-jay commented on #52
Okay - I worked it out...  I need to run it as a module like so: ```python -m temperusb.cli```

[code]

[2016-04-15 12:29] #52 closed

[2016-04-15 12:43] ps-jay commented on #41
pyusb 1.0.0rc1 was released Feb 16, and works as expected.

We can go ahead and release temperusb 1.4.1 now (and 1.3.1 for completeness I suppose!)

Python 2:
[code]

Python 3:
[code]

[2016-04-15 12:48] amorphic commented on #41
Hey guys. Glad to hear we finally have a `pyusb` that we can use!

I'm in the middle of a couple of things right now but I'll do my best to get the releases out over the weekend.

[2016-04-15 12:54] ps-jay commented on #41
We should probably get the tags back in the repo (#51) before doing so...

[2016-04-15 13:41] padelt commented on #51
I have no idea where they went!? Any ideas? TBH, I don't even remember what was in there.

[2016-04-15 15:20] ps-jay commented on #51
If you've got a local copy of the repo with tags, you might be able to recreate them by inspecting the commit ID of each...  (or easier, git push --tags)

If you don't have a local copy of the tags, then you'll just have to infer which commits were tagged (probably ones that incremented the version in `setup.py`?)

[2016-04-15 15:33] padelt commented on #51
I'll have a look at home but it seems I don't have any checked out version including tags.
If nobody has a list of commits associated with the tags, maybe we'll just start tagging them now.
Sometimes I miss Mercurial, where shooting your foot was/is considerably harder.

[2016-04-19 22:24] amorphic commented on #51
Hey guys,

So I just found some free time and went to package up a new release and saw this.

Are we safe to just tag the existing codebase `1.4` and bundle a release? Would you prefer I jump to `1.5` and we retrofit `1.4` later if we can divine the tags?

FWIW in my projects I've taken to keeping a `CHANGELOG` as per [these guidelines](http://keepachangelog.com/). It makes it very easy to see at

[2016-04-20 05:02] padelt commented on #51
Hi James,
AFAICT, I have no source for the missing tags. :-/
I'd say we call the current version 1.5.0 (which is already in the
setup.py file) and I'll tag the current commit
c5a82f1359e8bf82ea31c655f610d28091f070fb v1.5.0 later today.
I'll also try to at least tag 1.3.1 as it is today on PyPI by comaring
the files.

@amorphic It would be really nice if you could start the changelog!

-- Philipp

[2016-04-20 10:28] ps-jay commented on #51
After tagging, we could always update CHANGELOG.md to record the SHA1 where the tag was made.

[2016-04-20 10:34] padelt commented on #51
I thought about that and was unsure where that information should go. Is there a definitive answer? Or at least opinions?
Feel free to reopen if needed.

[2016-04-20 10:34] #51 closed

[2016-05-04 20:39] marklewis3000 opened #59 "Temperature reading near zero read near 255."
I put my TEMPer device in an ice bath. I set the /etc/temper.conf file scale=1.0 and offset=0.0 to uncalibrate it. As it cools in the ice bath, the degrees C readings go as 1.3, 0.8, 0.3, 255.9, 255.6. In other words, when it reaches 0.0 degrees, you have to subtract off 256 (still uncalibrated). These values of course mess with the degrees F as well, which respectively show as 34.4, 33.4, 32.6, 4

[2016-05-09 22:42] marklewis3000 commented on #59
Details of the TEMPer device are given here:
https://sigrok.org/wiki/RDing_TEMPer_Gold#Resources
Which says, theTemperature sensor is a NXP LM75A.
Data sheet can be found here:

[2016-06-12 14:57] padelt commented on #41
So, the old tags won't come back. The new releases will both be tagged and the commit id noted in `CHANGELOG.md`.
@amorphic Could you update PyPI with the new version 1.5.1? `setup.py` should now pull `pyusb` from PyPI instead of using the git checkout (that failed when `pip` installing `temper-python`).

[2016-06-16 15:02] amorphic commented on #41
Hi @padelt! Sorry I've taken a while to get back to you. Really busy week.

Just about to go to bed but I'll get `1.5.1` pushed to PyPI tomorrow.

[2016-06-21 23:23] amorphic commented on #41
Sorry for the delay all. `1.5.1` is [now on PyPI](https://pypi.python.org/pypi/temperusb/1.5.1).

[2016-06-22 04:02] padelt commented on #41
Great, thanks James!

[2016-07-29 15:07] splaisan opened #60 "trouble installing under OSX 10.10.5"
I installed on my mac (Python 2.7.11) what I think are dependencies, the installer added others.
sudo pip install snmp-passpersist
sudo port install libusb-devel

when I run sudo python setup.py install I get

<pre>
running install
running bdist_egg
running egg_info
writing requirements to temperusb.egg-info/requires.txt
writing temperusb.egg-info/PKG-INFO
writing top-level names to temperusb.egg-

[2016-07-29 15:30] padelt commented on #60
Hmm, I'd guess that the `libusb` backend that `pyusb` is using is missing, e.g. there is none or `pyusb` just cannot find it. [The FAQ](https://github.com/walac/pyusb/blob/master/docs/faq.rst) suggests that. In [the tutorial](https://github.com/walac/pyusb/blob/master/docs/tutorial.rst#specifying-libraries-by-hand) describes a way to specify a backend via the shared library path. Maybe you can fin

[2016-08-02 23:49] endolith opened #61 "Temperature gets "stuck" or skips values"
So I've had this for years and it's always had this problem, but your "Reported working devices" includes this VID/PID?  So maybe there's a bug that's been fixed that you know about?

Here are the USB descriptors:

[code]

and here is the log from several years:

![obviously not correct](https://cloud.githubusercontent.com/assets/58611/17349137/6e7f6e06-58e9-11e6-85ff-2c33079818b2.png)

As you can

[2016-09-06 18:00] eric-s-raymond opened #63 "Misleading error message when run as non-root"
Experimenting with repository head under Ubuntu 16.04 Linux on an Intel machine.

Device can be polled when running as root.  When running as non-root, temper-poll dies with the following stack trace:

esr@snark:~/software/temper-python$ temper-poll
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==1.5.1', 'console_scripts'

[2016-09-07 07:17] #41 closed

[2016-09-07 07:55] padelt commented on #63
I can reproduce this if the current user has no write permission to the USB device node:
[code]
Fix coming soon.

[2016-09-07 07:59] padelt opened #64 "Update PyPI with version 1.5.2"
@amorphic Could you please upload the new version 1.5.2 to PyPI?

[2016-09-07 08:00] padelt commented on #64
BTW: Is there a way for me to publish to PyPI, too? It's great that you are doing that but I don't want to hassle you too much.

[2016-09-07 08:02] padelt commented on #63
I just published the code to improve the error message. The changes are not yet available on PyPI, but if you `git pull` and `python setup.py install` again you should get a more comprehensible one.
Thanks for reporting the issue!

[2016-09-07 08:02] #63 closed

[2016-12-07 14:31] alanwbaker opened #66 "Incorrect result when temperature drops below freezing"
I'm using a 0c45:7401 Microdia device.  temper-poll 1.5.2 works great above freezing, but when the temperature drops below 32F/0C, it returns 498 as the Fahrenheit temperature and 254 as the Centigrade temperature.  Am I missing something?

Alan

[2016-12-09 20:00] fiz1962 commented on #66
The problem is at line 308 in temper.py.  The data[offset] and data[offset+1] values go with temperature (in Celcius) as
temp  data[offset]  data[offset+1]
0.2      0                  64
0.1      0                  32
0.0      0                  0
-0.1    255              224
-0.2    255              192

Ie, when the temp drops below 0C, 256 needs to be subtracted from the temperature like

[2017-01-09 15:29] smeek commented on #66
I also ran into this and have an open pull request (https://github.com/padelt/temper-python/pull/68) to fix it.

[2017-01-09 15:42] smeek opened #69 "Adding support for Relative Humidity"
I have a TEMPerHUM device (USB ID 0c45:7402, TEMPer1F_H1_V1.4) which I have working nicely with the current code after some small tweaks (pull requests already in).

I'd like to add support for reading the relative humidity, but before embarking on anything wondered what your preference was for adding this?

Currently the code is structured around the fact that you'll only be reading temperature,

[2017-01-09 16:02] smeek commented on #59
I've got a pull request (https://github.com/padelt/temper-python/pull/68) open for a fix to this issue.

[2017-01-09 16:10] padelt commented on #69
I think we could get away with changing `get_data()` to return something like `{'temp_data': ..., 'humidity_data': ...}` and add another method like `get_humidity()` that calls `get_data()` too. That would mean in a normal `cli.py` run, `get_data()` would get called twice. Inefficient but not that bad.

In the long run, all special casing for different devices should go into device-specific classe

[2017-01-10 14:40] smeek commented on #69
Yes, inefficient, but I easier to extend for other humidity sensing devices in the future.
Just because the temperature and humidity data comes back in the same response to the one `temp` USB command for this device, doesn't necessarily mean that will always be the case for other/future devices.
I'll try to put something together along the lines you suggest when I get some time...

[2017-01-10 14:50] padelt commented on #69
Great, looking forward to it!

[2017-01-20 16:38] smeek commented on #69
OK, I have created a pull request with my changes (https://github.com/padelt/temper-python/pull/70).
Basically as you suggested (I hope).
Slightly nasty to combine the temperature and humidity readings into one list per device.
Seems to work, although I do not have any other devices to test against; I just had to comment out the bits of code that produced the humidity readings to make sure that th

[2017-01-20 17:02] padelt commented on #69
I didn't have a chance to look yet but what comes to mind: Can I buy one of the devices you have? Do you have a link? I have several others and testing multiple devices would be really helpful.

[2017-01-20 17:38] smeek commented on #69
I am in the UK and just got it from Amazon (https://www.amazon.co.uk/TEMPerHUM-Sensor-USB-Hygrometer-Thermometer/dp/B00K6DN7HE/ref=sr_1_1?ie=UTF8&qid=1484933713&sr=8-1&keywords=TEMPerHUM).
Although the device I received was in a white plastic case, rather than the metal case that was shown in the pictures (not sure if that makes a difference as to what the device announces itself as).

[2017-01-26 16:57] martin3000 commented on #66
Hmm...for years nobody saw this?
            celsius=struct.unpack_from('>h',data,offset)[0]/256.0

[2017-02-03 18:12] user514 commented on #27
same here. temper.conf seems ignored to me too. Same temps with and without /etc/temper.conf

[2017-02-28 23:17] mlucool opened #72 "NodeJS Port"
Hi,

Thanks for the great library. I have ported most of it to nodejs here: https://github.com/mlucool/temper-usb and published it to [npm](https://www.npmjs.com/package/temper-usb). Just an FYI. You can close this after you have read this.

[2017-03-13 14:11] Pizzicato opened #73 "Temper-poll timeouts then stops getting data"
Hi,
Thanks for this software :-)
I'm trying to make it work, but I keep getting this output after running the command for some time, once every 30 second. After an hour or so it starts crashing with this message:
[code]
Once this happens, it happens all the time.

I get this on /var/log/messages (or dmesg):
[code]

The last line repeats itself after each execution of the command.

This is the devi

[2017-03-20 16:15] cooljimy84 commented on #61
Got my TEMPer 1.4 and after a few polls it gets stuck at 22.7, even after rebooting it reports 22.7. I need to unplug it and wait a minute.
When the device works this project works perfectly

[2017-03-23 09:43] Pizzicato commented on #73
Hi,
I have been using a C program based on [this one](https://github.com/padelt/pcsensor-temper/blob/master/src/pcsensor.c), modified to be able to use it with up to 4 devices, since it was made for one.

When I use this program, instead of crashing every-time after it times-out for the first time, it works when being run again. [Here](https://gist.github.com/Pizzicato/d6519a665d71a309b99d648b545c

[2017-03-31 10:10] padelt commented on #60
I guess you found a solution? Please re-open if not.

[2017-03-31 10:10] #60 closed

[2017-03-31 15:49] padelt commented on #59
This should be fixed in the new master-version. This is not released on PyPI yet.
@marklewis3000 Please test again and re-open the issue if there are further problems!

[2017-03-31 15:49] #59 closed

[2017-03-31 15:51] padelt commented on #72
Cool, thanks for the information!

[2017-03-31 15:51] #72 closed

[2017-03-31 15:52] padelt commented on #66
This should be fixed in the new master revision. If the issue re-appears, please open the issue again.

[2017-03-31 15:52] #66 closed

[2017-03-31 15:57] padelt commented on #61
@endolith If https://github.com/padelt/temper-python/issues/59#issuecomment-218011600 is correct then we should expect increments of 0.125°C as that would be the reported resultion. The "preferring" of some temperature I cannot explain, sorry. My guess would be an issue with the sensor or the way it works. This driver does not seem to be a likely cause.

[2017-03-31 16:00] padelt commented on #61
@cooljimy84 Your device (or this driver) reporting the same value over and over is likely a USB problem. We have had problems with the USB interactions initiated by this driver leading to "stuck" or resetting TEMPer devices. The root cause seems to be that we don't know for sure what we are doing in that regard. There are several different device revisions and the original source of the USB interc

[2017-03-31 16:00] #61 closed

[2017-03-31 16:16] padelt commented on #64
@amorphic A new release is coming around soon. Could you allow me to publish to PyPI somehow?

[2017-03-31 16:22] padelt commented on #73
Hi @Pizzicato , thanks for the info! I think you are seeing a problem similar to what I described here:
https://github.com/padelt/temper-python/issues/61#issuecomment-290753783
There most likely is something in the USB interaction with your device that makes it choke and reset. That would explain the increasing device number.
Problem is: I have neither the device nor the time to look at this.
What

[2017-03-31 16:22] #73 closed

[2017-03-31 16:22] padelt commented on #69
Just merged it - please reopen if needed!

[2017-03-31 16:22] #69 closed

[2017-04-01 06:34] amorphic commented on #64
@padelt so sorry I completely missed this the first time around! Yes I'm sure I'll be able to give you admin rights. First thing is probably to create a PyPI account if you haven't done so yet.

[2017-04-01 10:18] padelt commented on #64
Hi James, no worries! I just registered a user at PyPI: padelt
Could you try it with that?
Philipp

[2017-04-03 13:31] amorphic commented on #64
Ok Philipp, I've just added you with the __Owner__ role. Let me know if it works.

[2017-04-03 15:08] padelt commented on #64
Thanks James, that worked!

[2017-04-03 15:08] #64 closed

[2017-04-05 06:36] Pizzicato commented on #73
Hi!
I'm quite busy right now too, but I'll try to do it and fix it.

Cheers

[2017-04-19 10:30] Pizzicato commented on #73
Hi,
I have found out a couple of things that might be useful: temper-poll device resetting doesn't actually resets my USB devices. Using [this C program](https://gist.github.com/Pizzicato/d6519a665d71a309b99d648b545c2da5), which is a little modification of the one I posted before (adds a call to `usb_reset` when reading fails) changes the failing device ID, which can be seen using lsusb, while tem

[2017-07-12 13:20] twomiles-co-uk opened #75 "0c45:7402 and usbfs conflicts"
Hi there,

I get the following error message when I am running temper-poll:

WARNING:temperusb.temper:Encountered [Errno 110] Operation timed out, resetting <DEVICE ID 0c45:7402 on Bus 002 Address 004> and trying again.
ERROR:temperusb.temper:[Errno 110] Operation timed out
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 9, in <module>
    load_entry_point('temperusb==

[2017-08-14 19:48] unresto opened #77 "Windows failing on is_kernel_driver_active"
On Windows the is_kernel_driver_active() function is not implemented in libusb, this is a Linux only feature.  To use on Windows the NotImplementedError exception could be caught and ignored.  temper.py line ~217:

                try:
                    if self._device.is_kernel_driver_active(interface):
                        LOGGER.debug('Detaching kernel driver for interface %d '

[2017-09-28 17:10] arnauos commented on #75
Hi, I was getting the same error ([Errno 110] Operation timed out) under Debian 9.x.

I have created the file /etc/udev/rules.d/10-temper.rules with the following content:

`ATTRS={idVendor}=="0c45", ATTRS{idProduct}=="7402", OPTIONS=="ignore_device"`

After a reboot, it started working:

[code]

[2017-09-29 16:24] santiagomoneta opened #78 "Raspberry pi"
Hi, im testing your code on my raspberry pi and im facing some issues... the 1st one was that the 10th line of the setup, the word "encoding" was causing problems:

`raceback (most recent call last):
  File "setup.py", line 10, in <module>
    long_description=open('README.md', encoding='utf-8').read(),
TypeError: 'encoding' is an invalid keyword argument for this function`

I commented that line

[2017-09-29 16:26] santiagomoneta commented on #78
I add this:

input: RDing TEMPerV1.4 as /devices/platform/soc/3f980000.usb/usb1/1-1/1-1.5/1-1.5:1.0/0003:0C45:7401.00C5/input/input98
[499738.463052] hid-generic 0003:0C45:7401.00C5: input,hidraw0: USB HID v1.10 Keyboard [RDing TEMPerV1.4] on usb-3f980000.usb-1.5/input0
[499738.470908] hid-generic 0003:0C45:7401.00C6: hiddev0,hidraw1: USB HID v1.10 Device [RDing TEMPerV1.4] on usb-3f980000.usb-1.5

[2017-10-09 15:17] Stone-Hedge commented on #78
I'm seeing this problem also, on latest raspbian-lite.

[2017-10-09 15:25] Stone-Hedge commented on #78
I think I have a solution. You need to run with Python3, and make sure you execute as root afterwards.

To do this, install python3 setuptools:

`sudo apt-get install python3-setuptools`

execute the installation script with:

`sudo python3 setup.py install`

and run temper-poll as root

`sudo temper-poll`

Worked for me

[2017-10-09 15:43] Stone-Hedge commented on #78
I think this might only be a workaround as temper-snmp doesn't work with python3.  Works fine if you don't need SNMP though

[2017-10-21 07:10] ilkkao opened #79 "Temperature is never below -1.8 C"
`dmesg` output: `[    2.225797] usb 1-1.5: Product: TEMPer2_M12_V1.3`

Command I use:

[code]

Result in Finland currently:

![image](https://user-images.githubusercontent.com/474587/31849169-9d00c0d2-b63e-11e7-95a8-d83dbeef9bd3.png)

During the daytime, temperature is correctly reported. But at night when it gets freezing, values never go below `-1.8C`. In reality, it gets colder than that.

My t

[2017-10-21 07:58] ilkkao commented on #79
I added `print` to see the raw response byte array:

[code]

The fourth byte changed but it didn't affect the reported value. If I read the source code correctly (never really used Python) the temperature from the second sensor is read solely from the fifth byte. Maybe the fourth byte affects it too? Especially as the fifth byte has almost maximum value.

Are there any kind of manufacturer specs a

[2017-10-21 08:22] ilkkao commented on #79
I see now that changed value in my example is from the indoor sensor and sensor value is 16-bit integer.

[2017-11-17 20:39] apus-one opened #80 "setup.py failed on python 2.7.6 due to line 10"
setup.py failed on python 2.7.6 due to line 10.

long_description=open('README.md', encoding='utf-8').read(),

changed line to:

long_description=open('README.md').read().decode('utf-8'),

as per:
https://github.com/dreikanter/wp2md/pull/18

then it worked.

Thanks, apus-one

[2017-11-26 16:24] kl1lercher commented on #79
Same here for me, Temperature is never below -1.6°C. As i have two sensors i've changed positions (inside/outside a vice versa) but still temperature is never below -1.6°C. I am still checking data output to try to find out if it's a hardware problem (TEMPerV1.4)

[2017-11-27 11:45] ilkkao commented on #79
My sensor started to work again when temperature went below ~ -4C (can't remember the exact value, the sensor is offline now).

Not sure at all what the problem is at this point.

[2017-12-07 18:56] Siggemada opened #81 "Operation timed out"
Hi, is this the same issue discussed in [https://github.com/padelt/temper-python/issues/73](url) ?

Found 1 devices
WARNING:temperusb.temper:Encountered [Errno 110] Operation timed out, resetting <DEVICE ID 0c45:7401 on Bus 003 Address 013> and trying again.
ERROR:temperusb.temper:[Errno 110] Operation timed out
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 11, in <m

[2017-12-13 01:51] jtackett commented on #80
+1

[2017-12-22 08:47] stoneobscurity opened #82 "publish sensor data to MQTT"
feature request:

how about publishing the temper read to a MQTT broker?

broker url, username, password, port, topic, and then a json string of the temperature data in F and C.

[2018-01-07 00:07] cpina commented on #80
Same here, solution worked.

[2018-01-10 23:00] stethewwolf commented on #78
Hi, I have tried to use, successfully, a virtual env both with python 2 and with python3.

rpi3 with Fedora release 26 (Twenty Six)

[2018-01-25 05:36] kenkma opened #84 "Support for product ID 413d:2107"
Most recent sensors seems to have a new ID, 413d:2107.

Has anyone successfully hacked the code to work with it?

this C hack seems to work.

https://github.com/edorfaus/TEMPered/issues/51

Thank you.

[2018-01-26 10:20] SebastienMarmin commented on #80
+1

[2018-01-26 15:24] Estebastien commented on #84
Yes same need. I have a TEMPerX232 (thermo-hygrometer) with that ID and I can't make it work as my others Temper1F.
I have no clue. I don't really now what magic is going on in these hacks. I added the new ID to the VIPDS list, and of course I get an error ("Entity not found").
Thank you

[2018-02-07 14:57] mreymann commented on #84
Hi I use temper-python with my Microdia TEMPer Temperature Sensor (0c45:7401) and it works like a charm. I, as well, was too adventurous when buying an obscure "TEMPerHUM" (413d:2107). It would be great to have support for this device in temper-python!

Thanks for your work!

[2018-02-16 13:42] mreymann commented on #84
I've created a working Munin plugin for our device: https://github.com/mreymann/temperx
Support should be fairly easy to implement in temper-python. USB commands seem to be very similar. I have a PCAP file here if anybody needs it.

[2018-02-22 08:09] ilkkao commented on #79
Winter came so I was able to debug this bit further. My sensor return -1.8C when the temperature is between 0..-1.8C. It works just fine when the temperature is outside of this range, i.e >0 or <1.8.

A strange HW flaw is my guess. Feel free to close this issue.

[2018-06-01 16:17] ndemou commented on #84
Hoping that this comment will help temper-python to support devices with id 413d:2107 I should note that running this hid-query  gives you the temperature (hid-query is part of https://github.com/edorfaus/TEMPered more info bellow):
[code]
-----

P.S. Until temper-python supports them here's a complete set of commands to print the temperature:
[code]

The above are 99% based on TEMPered#51 "hack"

[2018-06-17 16:17] jbeale1 commented on #84
As I mentioned at https://github.com/edorfaus/TEMPered/issues/35#issuecomment-128130774  I have one of these new 413d:2107 devices which the Windows "TEMPer V26.1" software calls "Firmware: TEMPerGold_V3.1"  and mine is I think temperature only, although the hidapi testgui app shows two devices with that VID:PID.  The eight-byte hex string posted by ndemou above, does work when manually entered fr

[2018-06-17 17:37] ndemou commented on #84
@jbeale1:  mine is also temperature only and if you notice in the transcript above I also see two devices and one of them doesn't respond.

[2018-06-17 17:50] jbeale1 commented on #84
It does work! For me it's hidraw3 and I think before I wasn't root and I didn't do 'sudo'
[code]

[2018-06-17 18:47] jbeale1 commented on #84
Bash script to print time & temp every ~15 sec:
[code]
example output:
[code]

[2018-06-17 18:58] ndemou commented on #84
Thanks @jbeale1 for noticing the bug with integer arithmetic. I fixed my script (just used awk instead of bc because which works perfectly for such low precision calculations and is pre-installed almost everywhere)

[2018-06-17 19:39] jbeale1 commented on #84
I wonder if I have a different version of 'awk' because it always gives me 0.0 for example:
[code]

[2018-06-17 20:56] ndemou commented on #84
Right again. A cross platform way send to be echo $(( 16#891 ))|awk '{printf("%4.1f\n",$0/100)}'

[2018-06-19 15:11] schniepp commented on #84
My biggest issue right now is that `hid-query /dev/hidraw3 0x01 0x86 0xff 0x01 0x00 0x00 0x00 0x00` gives me this error: `Write failed: (null)`. I am doing this as root, and hid-query detects it successfully. Is this perhaps a slightly different device? Does it need a different string sent? Or is something about permissions set up the wrong way, so that writing does not work?
This device is suppos

[2018-06-19 15:23] ndemou commented on #84
@schniepp  have you tried all devices that `hid-query --enum` returns?

[2018-06-19 16:22] schniepp commented on #84
Yes. The other two ones are only my external keyboard and mouse. The one that I am using reports the correct USB ID.

[2018-06-19 17:14] jbeale1 commented on #84
After logging for two days, I see the output of my TEMPer has a nominal 0.06 C resolution. I haven't done a careful calibration, but the plot shows big flat spots at fixed values like it gets stuck. It is not, but clearly it can not reliably measure changes smaller than 0.5 C. Example plot:  https://photos.app.goo.gl/HEiZdxNJTLN1RLUf7

[2018-06-30 01:02] rtaft opened #86 "3 sensor support"
I have a TEMPerNTC II
10K F3950 NTCsensor

I noticed this line in lookup_sensor_count
-- All others are two - if not the case, contribute here: https://github.com/padelt/temper-python/issues

Bus 003 Device 014: ID 0c45:7401 Microdia TEMPer Temperature Sensor

[ 3188.367137] usb 3-10.3: new low-speed USB device number 16 using xhci_hcd
[ 3188.448856] usb 3-10.3: New USB device found, idVendor=0c45

[2018-07-06 17:37] cmsimike commented on #84
I received a 413d:2107 from amazon, and though it reports two USB devices (keyboard/USB device), I can only seem to get data from the usb device. The temp it reports back is way too high to make sense. It was commented elsewhere that there is an internal and external temp that can be reported. I'm worried that I'm only seeing the internal temp, if that's the case.

[2018-07-16 15:13] splaisan opened #87 "fixed the line 10 error as in #80 but resulting exe does not work yet"
It used to run under previsou OSX but not now under high sierra
Any idea what I am missing?
A dependency I guess!!

[code]

[2018-07-20 08:55] splaisan commented on #87
same issue after installing python3 and reinstalling temper under it (line10 edited back to repo code)

[code]

[2018-08-21 20:55] Proxx commented on #84
same here, got the 413d:2107 version and really like to see this usbstick supported 😄

[2018-08-21 21:15] cmsimike commented on #84
I am currently using this script to read the raw USB values from the 413d:2107

[code]
I build TEMPered, and it has an hid-query, which I can use to get the raw sensor values.

[2018-08-27 16:02] roncapat commented on #80
`encoding` parameter exist only in Python 3 for function `open()`.
Using: `sudo python3 setup.py install` worked, but as @apus-one says, that line in setup.py should be changed.

[2018-10-16 01:59] schniepp commented on #84
This totally fixed my problems: [urwen/temper](https://github.com/urwen/temper).
It's a pure python3 program that makes my device work. The author also describes in the README.md that the access via hidraw does not work and gives errors. Brilliant! I can use my device now!!!

[2018-11-30 01:12] rdica opened #89 "upowerd spamming syslog when polling device"
Is anyone else getting syslog spam when polling your sensor?

Nov 29 19:47:01 daw3 journal[2761]: unhandled action 'bind' on /sys/devices/pci0000:00/0000:00:14.0/usb1/1-2/1-2:1.1
Nov 29 19:47:01 daw3 journal[2761]: unhandled action 'unbind' on /sys/devices/pci0000:00/0000:00:14.0/usb1/1-2/1-2:1.1
Nov 29 19:47:01 daw3 journal[2761]: unhandled action 'bind' on /sys/devices/pci0000:00/0000:00:14.0/us

[2019-01-04 05:45] LaszloGombos commented on #78
Create a new file for udev (e.g. /etc/udev/rules.d/99-tempsensor.rules) with the following 2 lines
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7401", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7402", MODE="666"

Save the file unplug and plug back the device and try again as a user (instead of root). Let us know if this

[2019-01-28 14:59] nikcross opened #91 "0c45:7402 Temperature reading incorrect"
I have a TEMPerHUM temperature and humidity sensor connected to a Raspberry Pi
lsusb gives me:
0c45:7402 Microdia TEMPerHUM Temperature & Humidity Sensor

temper-poll gives me:
Found 1 devices
Device #0: 106.5°C 223.6°F

Its warm in here, but not that warm :-) and there is no humidity value.

I also have a TEMPer and that works ok.

Any ideas ?

[2020-01-17 09:56] bucklevision opened #94 "No output from temper.py, but no error."
I had temper operating correctly and reading out temps at the commandline. I started making modifications to the .py to limit the output to purely a number, so I could more easily parse it in logs using another script. I had a couple of syntactical issues and eventually reached a point where I got no output from the script. At which point I reverted to a freshly downloaded copy of the .py and ran

[2020-01-25 16:57] padelt commented on #94
Hi @bucklevision , not sure how to help you here. The usual advice is probably appropriate: reset device and host, try to ensure you are actually running a fresh copy of temperusb etc.
The failure modes I saw were more around hanging while requesting data or strange responses from the device leading to (visible) errors.
If nothing helps, try tracing the whole program and post the result:
https://s

[2020-01-25 17:09] padelt commented on #89
I‘d be really interested in knowing the reason for this. It may be that temperusb is doing something questionable regarding binding. It anyone has a good explanation or even a suggestion what to improve, that would help.
As it stands, I have no idea how to improve it. Or if it needs improving at all.

[2020-01-25 17:10] padelt commented on #86
Hey @rtaft , could you put the changes in a PR that I can merge?

[2020-01-25 17:17] padelt commented on #80
@moonpyk ‘s changes are merged now.

[2020-01-25 17:17] #80 closed

[2020-01-27 14:35] rtaft commented on #86
@padelt done

[2020-01-27 14:37] padelt commented on #86
and merged!

[2020-01-27 14:37] #86 closed

[2020-04-01 13:28] MatGit5 commented on #91
Same issue here...
Device #0: 109.4°C 228.9°F
The temperature is actually below 21°C.

[2020-04-23 14:34] davet2001 commented on #91
Quite likely it is an unrecognised sensor type.
Please can you paste the output of
`lsusb -v -d 0c45:7402`

[2020-06-25 06:24] davet2001 opened #97 "Suggested architecture improvement for supporting new sensors"
I have been looking at https://github.com/padelt/temper-python and thinking of ways to support more sensors more easily, specifically to make it easier for people to contribute.

Currently there is a lot of logic looking at the product identifier spread through the driver.  I assume it has evolved this way rather than intended from the start.

I would like to propose something like this:

[code]

[2020-06-27 23:23] ps-jay commented on #97
This looks great to me.  Could it even be externalised into a configuration file, so new sensors don't even need code change to be supported?

[2020-10-23 10:47] MatGit5 commented on #91
lsusb -v -d 0c45:7402

Bus 001 Device 004: ID 0c45:7402 Microdia TEMPerHUM Temperature & Humidity Sensor
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0         8
  idVendor           0x0c45 Microdia
  idProduct          0x7402 TEMPerHUM Tempe

[2020-10-24 10:01] davet2001 commented on #91
Yes, it looks like 'TEMPERHUM1V1.2' is not supported yet by the python package, but 'TEMPERHUM1V1.3' is.  There is a high chance that they behave the same.  Testing it should be a matter of editing temper.py and listing 'TEMPERHUM1V1.3' in each of the places where you see 'TEMPERHUM1V1.2'.

Unfortunately the package is a bit piecemeal with not all of the sensor data in one place, see #97.  But tha

[2020-10-25 07:06] padelt commented on #97
Hey @davet2001 , sure I would love to have an improved source layout!

[2020-11-07 16:31] davet2001 commented on #97
I am working on this now.  Starting with some pytests so that I can verify the layout change later doesn't break something.

[2020-11-28 17:20] rdica commented on #89
While I never did find out why, its moot now since F28 is EOL and I don't see the problem on F32 currently. Closing.

[2020-11-28 17:20] #89 closed

[2020-11-29 19:40] davet2001 commented on #97
Ok, PR is ready for someone to review/approve it.

[2020-12-01 08:39] padelt commented on #97
I just merged the changes. Thanks a lot to @davet2001 !

Can someone test the current master so I can prepare a new release?

[2020-12-01 08:40] #94 closed

[2020-12-01 22:46] davet2001 commented on #91
I have made a guess at config settings for this device:

https://github.com/davet2001/temper-python/commit/728c97740bed34d00e0829cb2d5f8f6f3edf699a

Maybe you could download and try it?

[2021-01-21 03:20] poikilos commented on #84
A fork of it has several improvements. It also has a setup.py so it can be installed (in a `virtualenv` preferably) like:
[code]

[2021-01-21 19:27] davet2001 commented on #97
Can close

[2021-01-21 19:28] davet2001 commented on #91
Did it work @MatGit5 ?

[2021-02-26 17:15] ReachableCEO opened #103 "syntax error on debian buster"
root@pfv-vmsrv-03:~# temper-poll
Traceback (most recent call last):
  File "/usr/local/bin/temper-poll", line 11, in <module>
    load_entry_point('temperusb==1.5.3', 'console_scripts', 'temper-poll')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/dist-pa

[2021-02-26 17:16] ReachableCEO commented on #103
This is from a git clone about 10 minutes ago or so

[2021-02-26 19:06] padelt commented on #103
The latest changes introduced syntax that is valid from Python 3.6 but not earlier versions. You seem to be running Python 2.7.
A workaround would be switching to Python 3.6 if you can.

[2021-02-26 19:11] padelt opened #104 "Use of Python 3.6 syntax"
#103 surfaced that we have syntax in the codebase that requires Python 3.6.
At the same time, the Readme mentions compatibility with Python 2.7 and 3.2.

As Python 2 is EOL just as is Python 3.2, I am inclined to up the minimum version to 3.6.

Is there demand for keeping compatibility with earlier versions? Especially 3.5 which seems to be the default in major Linux distributions.

[2021-02-26 19:18] rdica commented on #103
Might want to update README, it says:

# Compatibility with Python versions
This should work on both Python 2 and 3. It was tested with Python 2.7.3 and 3.2.3. The snmp_passpersist mode is Python 2 only because the upstream package is not ready yet.

:smiley:

[2021-02-26 19:22] padelt commented on #103
You are right, that’s inconsistent and we‘ll try to decide upon a solution in #104 .
Maybe you could comment there if Python 3.6 is an option for you. I‘d like to gather some data what versions people actually use.

[2021-02-26 19:28] rdica commented on #104
Works on Fedora 32:
[code]

[2021-02-26 19:48] ReachableCEO commented on #103
Oh yeah I can switch. On Ubuntu it’s fine , just Debian buster seems to utilize 2.7 by default (this is all referring to stock system python )

——-
Charles N Wyble
Founder TSYS Group
Email: charles@turnsys.com
Phone: 818 280 7059
Matrix: @Charlesnw:turnsys.com
________________________________
From: Philipp <notifications@github.com>
Sent: Friday, February 26, 2021 1:22:39 PM
To: padelt/temper-pyth

[2021-02-26 21:35] ps-jay commented on #104
I would bump the minimum supported version up, for the following reasons:
- it's easier now than in the past to run different versions of Python in parallel (virtualenvs, docker, ...)
- Debian Buster (current latest) has optional Python 3.7 (via the python3 package)
- CentOS 7 has Python 3.6 available via the software collections libraries (and maybe newer, my info is circa 2019 on this)
- This pr

[2021-02-26 22:26] davet2001 commented on #103
On many distros the default python is 2.7.  But python3 runs a python 3.x version.
Try:
`which python`
`which python3`
To see what happens.

[2021-03-01 14:15] padelt commented on #103
I guess the situation here is clear, so I'll close.

[2021-03-01 14:15] #103 closed

[2021-03-01 14:37] padelt opened #105 "Update documentation to require Python 3.6+"
The current codebase already requires Python 3.6 and this will be the new minimum Python version.

The README.md sections "Requirements",  "Installation and usage" and "Compatibility with Python versions" need to be updated to current standards. The latter section and note regarding `snmp_passpersist` might not be needed anymore.

[2021-03-01 14:38] padelt commented on #104
That's less controversial than I thought.
So let's do it - in #105.

[2021-03-01 14:38] #104 closed

[2021-03-02 21:07] skilleter commented on #91
I've also got one of these and the suggested patch nearly works.

The device has a button which causes to emulate a keyboard and output temperature and humidity readings as if they'd been typed in.

With this active it reports a temperature of 25.31°C and a relative humidity of 40.71 and, by comparison, the cli.py script reports the temperature as 25.3°C and the humidity as 35.1, so temperature is

[2021-03-04 12:09] davet2001 commented on #91
@skilleter There's a possibility that it's working fine, but let's check.

Please could you checkout
https://github.com/davet2001/temper-python/commit/a2c35d50a56fbc2e568a983f75c4ad953972cbd4

and run:
`python3 -m temperusb.cli -v`

Please reply back with the full console output.

Then press the button again and report what it displays in keyboard mode.  Try to keep time between the two as short a

[2021-03-04 14:30] #97 closed

[2021-03-04 20:38] skilleter commented on #91
Output from the script:
`$ python3 -m temperusb.cli -v
DEBUG:temperusb.temper:Found device | Bus:1 Ports:10 SensorCount:1
INFO:temperusb.temper:Found 1 TEMPer devices
Found 1 devices
DEBUG:temperusb.temper:Detaching kernel driver for interface 0 of <DEVICE ID 0c45:7402 on Bus 001 Address 006> on ports 10
DEBUG:temperusb.temper:Detaching kernel driver for interface 1 of <DEVICE ID 0c45:7402 on Bus

[2021-03-05 12:34] davet2001 commented on #91
Ok, assuming the measuring IC is an si7021 the [datasheet](https://www.silabs.com/documents/public/data-sheets/Si7021-A20.pdf#page=21) gives formula
![image](https://user-images.githubusercontent.com/17680170/110110866-5d1b1b00-7da7-11eb-8d20-9ccbb9e54352.png)
So in the returned data '80 04 62 dc 5f c2 60 3f' at offset 4 we have:
0x5f 0xc2
which is 0d24514
So %RH should be (125*24514)/65536 - 6 =

[2021-03-12 19:40] davet2001 commented on #91
Unless anyone objects, I propose merging this as it improves functionality.  A follow up PR could be added if someone can see a way to genuinely improve accuracy.

[2021-03-13 00:37] endolith commented on #91
I could open mine if needed, but https://github.com/edorfaus/TEMPered/pull/30 says it's Si7021 and has photos like this:

![](http://u.forre.st/TEMPerHumM12V1.2/IMG_20140929_170622.jpg)

Mine is 0C45:7402 bcdDevice 00.0.1 "TEMPERHUM1V1.3"

[2021-03-13 03:19] endolith commented on #91
Oh wait, mine is already supported.  Nevermind.

[2021-03-13 17:00] skilleter commented on #91
I'm happy for this to be merged. I had a go at opening the case for my sensor and was defeated by it, I'm afraid. The amount of force I was applying was heading dangerously towards 'one slip with the screwdriver and there will be blood everywhere' territory!

[2021-05-13 06:12] BrianGilbert opened #108 "ID 0c45:7401 Temperature reading incorrect (TEMPer2V1.4)"
Ambient temperature is around 20-23c

[code]

[code]

[2021-05-13 06:14] BrianGilbert commented on #78
I did the same when I hit issues and it's working for me too.

[2021-05-13 20:36] davet2001 commented on #108
@BrianGilbert Many thanks for this.

I expect the reported reading is valid.  Could be some self heating in the sensor or calibration offset.

I have created a PR #109 for this.  Once merged, the 'unrecognised sensor type' will go away.

[2021-05-14 09:23] padelt commented on #78
I'll close this issue as I suspect it is irrelevant by now. Please reopen as needed.

[2021-05-14 09:23] #78 closed

[2021-05-14 09:23] #79 closed

[2021-05-14 09:24] padelt commented on #81
Closing because of age. I suspect we cannot do much in this situation. Please reopen as needed.

[2021-05-14 09:24] #81 closed

[2021-05-14 09:24] #82 closed

[2021-05-14 09:29] padelt commented on #87
Closing because of age. Not sure we can help much here. `pyusb` is trying to find a backend (operating system level library) for USB and not finding any. Please reopen as needed.

[2021-05-14 09:29] #87 closed

[2021-05-14 09:30] padelt commented on #77
Is this still relevant? Please reopen as needed.

[2021-05-14 09:30] #77 closed

[2021-05-14 09:30] #75 closed

[2021-05-14 09:33] padelt commented on #108
Thanks everyone, I just merged this. Please reopen the issue if needed!

[2021-05-14 09:33] #108 closed

[2021-05-14 09:33] padelt commented on #91
Thanks everyone! Please reopen the issue if needed!

[2021-05-14 09:33] #91 closed

[2021-06-28 08:57] frank42hh commented on #75
Unfortunately, I got the same problem but the solution from @arnauos doesn't work.
First, there's a wrong equal sign between ATTRS and {idVendor}, and second, ignore_device is not recognized (removed in udev 148):

### ATTRS={idVendor}=="0c45", ATTRS{idProduct}=="7401", OPTIONS=="ignore_device"
`/etc/udev/rules.d/10-temper.rules:1 Invalid key/value pair, ignoring.`

### ATTRS{idVendor}=="0c45", AT

[2021-07-01 16:51] StatusCode404 opened #110 "New device addition"
Please add:
[code]
to
`temperusb/device_library.py`

It causes warnings without it.

[2021-08-22 14:57] davet2001 commented on #110
@StatusCode404 please can you confirm this is now working on the GitHub version, and if so close the issue?

[2021-08-22 21:40] StatusCode404 commented on #110
Works!

Thanks for the update!

[2021-08-22 21:40] #110 closed

[2021-10-08 19:57] davet2001 opened #112 "New release possible?"
Several new devices have recently been supported but these are not available on pypi yet, meaning distributions can’t use these yet (eg home assistant).

Is there a plan for a new release?  Any way I could help?

[2021-10-13 11:43] amorphic commented on #112
Sure thing. I'm really busy at the moment but will try to get a new release cut in the next few days. Feel free to poke me if I forget ;-)

[2021-11-03 07:57] davet2001 commented on #112
@amorphic Friendly poke 😉

[2021-11-03 11:06] amorphic commented on #112
@davet2001 thanks for the reminder and apologies for the delay. `v1.6.0` is now [available on PyPI](https://pypi.org/project/temperusb/1.6.0/).

[2021-11-03 11:24] padelt commented on #112
Thank you @amorphic !

[2021-11-03 17:20] davet2001 commented on #112
Thank you @amorphic!!!🍾

[2021-11-28 08:40] coder1995 opened #115 "support for TEMPer2V1.3 request"
sudo temper-poll -p
WARNING:temperusb.temper:Unrecognised sensor type 'TEMPer2V1.3'. Trying to guess communication format. Please add the configuration to 'device_library.py' and submit to https://github.com/padelt/temper-python/issues to benefit other users.
Found 1 devices
Device #0 (bus 1 - port 3): 17.9°C 64.3° <--- temperature is off by 40 degrees but this varies from value to value (I can't

[2021-11-29 19:25] davet2001 commented on #115
@coder1995 Thanks for sharing the info on this new sensor!  Please could you additionally run
[code]
And paste the output?

Also, please could you answer the following:

1. How many temperature sensors does this device have (usually it is 1)?
2. What was the actual temperature (approx.) of the room you were in?
3. Any other sensors e.g. humidity built in?

If we are really struggling a photo of th

[2021-11-29 20:06] coder1995 commented on #115
Here is the output:

sudo temper-poll -p -v
WARNING:temperusb.temper:Unrecognised sensor type 'TEMPer2V1.3'. Trying to guess communication format. Please add the configuration to 'device_library.py' and submit to https://github.com/padelt/temper-python/issues to benefit other users.
DEBUG:temperusb.temper:Found device | Bus:1 Ports:3 SensorCount:2
INFO:temperusb.temper:Found 1 TEMPer devices
Found

[2021-11-29 23:30] davet2001 commented on #115
Ok, thanks for more info.  Sorry for an additional request...

It looks like this device is behaving the same as [other devices](https://github.com/s-leroux/TEMPer2/blob/84e986a89f1d8d4f27473b13176298b0a49632e4/comm.c#L268-L277), i.e. 0x12d0 is converted to floating point and divided by 256 to give value in degC of 18.8125.

Please could you record what you think the temperature is at the time of

[2021-11-30 00:10] coder1995 commented on #115
I will try to do that when I am in that location (it is about 200 km away from me). I will run sudo temper-poll -p -v again when someone will be in that location and will be able to send me a picture of the solar display which shows the correct temperature. Both sensors are inserted in the same cavity in the boiler tank.

It might be very possible that we are getting the "room" temperature from th

[2021-12-02 17:12] coder1995 commented on #115
This is the temperature reported for 22 C (verified):

pi@raspberrypi:~ $ sudo temper-poll -p -v
WARNING:temperusb.temper:Unrecognised sensor type 'TEMPer2V1.3'. Trying to guess communication format. Please add the configuration to 'device_library.py' and submit to https://github.com/padelt/temper-python/issues to benefit other users.
DEBUG:temperusb.temper:Found device | Bus:1 Ports:3 SensorCount

[2021-12-02 20:13] davet2001 commented on #115
The data suggests two temperature readings, 10.875 and 21.0.

So I think it is working.  I have created a pull request #116.

If you know how to clone and run a git branch, then it would be great if you could test it on your hardware.  Let me know if you need any help.

[2021-12-02 20:32] coder1995 commented on #115
Thank you very much for your work. I have pulled the branch and the results are:

sudo temper-poll -p -v
DEBUG:temperusb.temper:Found device | Bus:1 Ports:3 SensorCount:2
INFO:temperusb.temper:Found 1 TEMPer devices
Found 1 devices
DEBUG:temperusb.temper:Ctrl transfer: b'\x01\x803\x01\x00\x00\x00\x00'
DEBUG:temperusb.temper:Read data: '80 04 0b d0 14 b0 1d 15'
DEBUG:temperusb.temper:Ctrl transfer:

[2021-12-02 20:40] davet2001 commented on #115
Ok. There could be a 2nd bug which means only 1 temperature is displaying.
Please could you try this branch which incorporates both the new sensor and an additional fix:
https://github.com/davet2001/temper-python/tree/fix_multisensor_readout

[2021-12-02 20:49] davet2001 commented on #115
Hmm, scratch that.  I think there is something weird going on about how it handles multiple sensors per device.  Let me take a look a bit more and get back to you.

[2021-12-02 20:57] davet2001 commented on #115
Update:
No, go for it. Let me know if it works.  Output should be something like this:
[code]

[2021-12-02 21:21] davet2001 commented on #115
@coder1995 you may need to re-fetch that branch as some of it was out of date and i just force-pushed it.
`git fetch` your side should fix it

[2021-12-02 22:05] coder1995 commented on #115
Hmm is I still get only one reading. Is there something that I am missing?

pi@raspberrypi:~/temper-python $ git pull origin fix_multisensor_readout
From https://github.com/davet2001/temper-python
 * branch            fix_multisensor_readout -> FETCH_HEAD
Updating 86af27a..ad523b9
Fast-forward
 .gitignore                  |   1 +
 CHANGELOG.md                |  16 ++++++++
 README.md

[2021-12-02 22:07] coder1995 commented on #115
pi@raspberrypi:~/temper-python $ git pull origin 7d101acc6eace3cafb4f15b9f81b4c28bb7f3d42
From https://github.com/davet2001/temper-python
 * branch            7d101acc6eace3cafb4f15b9f81b4c28bb7f3d42 -> FETCH_HEAD
Merge made by the 'recursive' strategy.
pi@raspberrypi:~/temper-python $ sudo python setup.py install

after setup.py:

pi@raspberrypi:~/temper-python $ sudo temper-poll
Found 1 devices

[2021-12-02 22:45] davet2001 commented on #115
Ah, I think  see what is wrong.  Default behavior of command line is to only read sensor 0.
Try running
`sudo temper-poll -p -v -s all`

[2021-12-02 22:46] coder1995 commented on #115
sudo temper-poll -p -v -s all
DEBUG:temperusb.temper:Found device | Bus:1 Ports:3 SensorCount:2
INFO:temperusb.temper:Found 1 TEMPer devices
Found 1 devices
DEBUG:temperusb.temper:Ctrl transfer: b'\x01\x803\x01\x00\x00\x00\x00'
DEBUG:temperusb.temper:Read data: '80 04 0b 60 14 50 1d 15'
DEBUG:temperusb.temper:Ctrl transfer: b'\x01\x803\x01\x00\x00\x00\x00'
DEBUG:temperusb.temper:Read data: '80 04

[2021-12-02 23:02] davet2001 commented on #115
Ok, great!  When the PR gets merged, and then later released as a new version of temper-python it will be available to everyone.  Until then it is ok to keep using your local git copy.

Also you can use `sudo temper-poll -s 1` to just read the 2nd sensor if you want.

[2021-12-02 23:14] coder1995 commented on #115
Actually I can surely use the first sensor because it reads the general temperature in the boiler room - which is good to have. It is so cool that now I can monitor the water temperature from the boiler remotely. Thanks!

![image](https://user-images.githubusercontent.com/14820018/144517881-56c220f9-b7ea-41c2-8adb-70f6fe1d5432.png)

[2021-12-03 07:27] #112 closed

[2021-12-04 03:46] davet2001 commented on #115
This issue was fixed by #116

[2021-12-04 03:46] #115 closed

[2021-12-16 12:04] davet2001 opened #119 "Pylint?"
@padelt How do you feel about pylint?

Could be a code improvement?  Probably a dedicated PR with no functional change, just formatting/renaming.  All tests should pass before and after.

To give an idea, these are the current errors:

[code]

[2021-12-16 17:28] padelt commented on #119
Not a big fan of refactoring working code _only_ to conform to things like `Too many branches` or `Variable name "th" doesn't conform to snake_case naming style (invalid-name)` in general.

But if you as a human with common sense judgement would want to comb through those hints to improve the code - please feel free to do that!

[2021-12-16 17:30] #105 closed

[2022-04-03 16:44] bjornenki opened #120 "Sorry, not an issue - adding V1.1 support"
Hi, thanks for this project!

Sorry it's not a pull request, but in case it helps others, I just wanted to say that I have some old V1.1 units that work just fine with the following in device_library.py:

    "TEMPerHumiV1.1": TemperConfig(
        temp_sens_offsets=[2],
        hum_sens_offsets=[4],
        type=TemperType.FM75,
    ),

Sample output:

Found 2 devices
Device #0: 25.7°C 78.2°F 46.

[2022-04-03 19:51] davet2001 commented on #120
Many thanks for your contribution!
If no one else gets to it first, I will create a PR in a few days time 👍

[2022-04-18 13:06] davet2001 commented on #120
@bjornenki Did you have 2 devices plugged in at the time, or does the one USB device have two T and two RH sensors?

[2022-04-18 15:42] bjornenki commented on #120
Yes, sorry for the confusion, but I did have two different 1.0 devices
plugged in at once.

On Mon, Apr 18, 2022 at 6:07 AM Dave T ***@***.***> wrote:

[2022-04-18 17:20] #120 closed

[2022-04-21 19:42] bogdemon opened #124 "Support for TEMPerHumiV1.0"
Hi,

Recently successfully enabled a system using an older sensor.

To make it work, the following update is required to: device_library.py

Output of the temper-poll command

Please update the device_library.py accordingly.

[2022-04-21 20:13] #124 closed

[2022-04-21 20:14] davet2001 commented on #124
@bogdemon Many thanks for the contribution!

[2022-08-03 15:23] mcclumpherty opened #126 "Port number display is not entirely useful since it isn't guaranteed to be unique"
In TemperDevice, the ports attribute is initialised to the port number.  The naming here is somewhat contradictory - namely that a plural ('ports') is assigned a single number.

That aside, it's possible for two or more TEMPer devices to show the same bus and port number and get the following output:

[code]

  I did this by having a setup like the following:
[code]
It would therefore make sense t

[2022-09-25 10:59] fabaff opened #127 "Tag the source"
It would be very helpful if you could tag releases as well. This would enable distributions who want to run your tests to fetch the package from GitHub instead of PyPI, where the tests are excluded.

This was done in the past.

Thanks

[2022-10-13 21:28] davet2001 commented on #127
I have created a 1.6.0 tag now.

[2022-10-13 21:28] #127 closed

[2022-10-21 14:53] acs4design commented on #84
I was able to get my Temper2 device working in windows. This device is VID 0x431D PID 0x2107.  There is no product name in the USB descriptor, so there's no good way to tell it apart from any of the others except for VID/PID. It does have 2 endpoints.  The first is a keyboard endpoint. The other is the temperature interface.  This device has a button on it.  It has an internal temp measurement and

[2022-10-27 17:05] davet2001 commented on #84
@acs4design Thanks for sharing this.  Is your sensor like one of the ones here?:

https://usb-ids.gowdy.us/read/UD/413d/2107

Please could you double check the description strings to see if there's anything uniquely identifiable about the sensor that we can use to select the correct decoding?

I don't have one of these sensors so I'm also looking for someone who can help me with testing a patch fo

[2022-10-27 17:43] acs4design commented on #84
I can't find anything in the descriptor itself.  Perhaps, there are other
methods to determine a way to discriminate it from the others by receiving
the output reports. Their software somehow knows which Temper device it is
because their software supports all of their USB sticks. I used the
application that came with the stick to get it running while I did a USB
capture.   I used USBlyzer software

[2022-11-27 09:00] allo- opened #128 "Support for TEMPerGold (1a86:e025)"
I bought a new TEMPer and tried to get v1 models because I was unsure about the support for v2, but it still seems to be a newer model:

    1a86:e025 QinHeng Electronics TEMPerGold

Any chance to get it to work?

[2022-11-27 10:13] davet2001 commented on #128
@allo- If you are ok with doing this, you could clone the repository and add
`(0x1a86, 0xe025)`
to `VIDPIDS` in `temper.py` then see what happens when you run `python3 temperusb/cli.py -v`.

It should detect your device then try to guess the communication format.

If you get a sensible looking value for temperature, it will be quite straightforward to add support.

[2022-11-27 12:11] allo- commented on #128
Currently I get an import error when trying to run `cli.py`

[code]

[2022-11-27 13:59] davet2001 commented on #128
Try `python3 -m temperusb.cli -v`

[2022-11-27 14:09] allo- commented on #128
It doesn't seem to work out of the box

[code]

[2022-11-27 15:18] davet2001 commented on #128
Ok. Looks like it needs a different command message to make it respond.

Could be tricky to get this working unless you are able to get deep into debugging it, possibly by looking at other libraries or sniffing the traffic when it's communicating with an app that works.

[2022-11-27 15:20] allo- commented on #128
I am not experienced in it and don't have the time to do things like usb logging on windows. But when you have concrete things I can just run on my raspberry pi I'd happily try them.

[2022-11-28 17:58] davet2001 commented on #128
Probably this needs a developer with access to the hardware to make it work.

If you can find an example of this working in another library, please let me know.